# Core dependencies
pandas
numpy>=1.26.4
scikit-learn>=1.4.2
matplotlib
seaborn
geopandas
requests
python-dotenv
loguru
jupyterlab
tqdm
sodapy
uszipcode
fredapi
openpyxl
pyarrow
census
# Optional/advanced
cmdstanpy
lightgbm
joblib
# Visualization
plotly
# Testing
pytest
# Task scheduling
schedule
python-daemon
